*.o
*.obj
*.a
*.lib
*.exe
*.s
*~
*.bak
*.log
*.patch
*.patch.txt
*.plist
*.dot
core
*.core
Makefile
CMakeFiles
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
cmake_install.cmake
config.h
config.log
config.status
autom4te.cache
game/alias.cnf
game/data
game/log
game/mush.cnf
game/names.cnf
game/netmush.pid
game/restart
game/restrict.cnf
game/txt/compose.sh
game/txt/events.txt
game/txt/help.txt
game/txt/news.txt
game/save
game/*.crt
game/*.csr
game/*.key
game/*.stackdump
hdrs/buildinf.h
hdrs/cmds.h
hdrs/funs.h
hdrs/gitinfo.h
info_slave
install_manifest.txt
netmud
netmush
src/cmdlocal.c
src/flaglocal.c
src/funlocal.c
src/local.c
src/TAGS
ssl_slave
test/alltests.sh
test/testgame
third_party
db2dot
db_config.h
dbupgrade
grepdb
pwutil
