*.o
*~
*.bak
Makefile
config.h
config.log
config.status
autom4te.cache
game/alias.cnf
game/data
game/info_slave
game/log
game/mush.cnf
game/names.cnf
game/netmush
game/netmush.pid
game/restrict.cnf
game/ssl_slave
game/txt/compose.sh
game/txt/events.txt
game/txt/help.txt
game/txt/news.txt
game/txt/hlp/pennv*.hlp
game/save
hdrs/buildinf.h
hdrs/cmds.h
hdrs/funs.h
hdrs/gitinfo.h
options.h
src/Makefile
src/cmdlocal.c
src/flaglocal.c
src/funlocal.c
src/info_slave
src/local.c
src/netmud
src/netmud~
src/ssl_slave
src/TAGS
test/alltests.sh
test/testgame
third_party
