*.o
*.s
*~
*.bak
*.log
*.patch
*.patch.txt
*.plist
Makefile
config.h
config.log
config.status
autom4te.cache
game/alias.cnf
game/data
game/info_slave
game/log
game/mush.cnf
game/names.cnf
game/netmush
game/netmush.pid
game/restart
game/restrict.cnf
game/ssl_slave
game/txt/compose.sh
game/txt/events.txt
game/txt/help.txt
game/txt/news.txt
game/save
game/core
game/*.crt
game/*.csr
game/*.key
game/*.stackdump
hdrs/buildinf.h
hdrs/cmds.h
hdrs/funs.h
hdrs/gitinfo.h
src/Makefile
src/cmdlocal.c
src/flaglocal.c
src/funlocal.c
src/info_slave
src/local.c
src/netmud
src/netmud~
src/ssl_slave
src/TAGS
src/*.exe
test/alltests.sh
test/testgame
third_party
