language: c
compiler: gcc
before_install:
  - sudo localedef -f ISO-8859-1 -i en_US en_US.ISO88591
before_script:
  - ./configure
  - yes "" | make update
  - make
  - curl -L https://cpanmin.us/ -o cpanm && chmod +x cpanm
  - ./cpanm IO::Socket::IP
script: make test
env:
  global:
    - PERL_MM_USE_DEFAULT=1 # tell CPAN to assume defaults as much as possible
    - PERL5LIB=/home/travis/perl5/lib/perl5
addons:
  apt:
    packages:
      - gperf
