/* options.h -*- c -*- */

#ifndef __OPTIONS_H
#define __OPTIONS_H

/* *********** READ THIS BEFORE YOU MODIFY ANYTHING IN THIS FILE *********** */
/* WARNING: All options in this file have the ability to significantly
 * change the look and feel and sometimes even internal behavior of
 * the program.  The ones shipped as the default have been extensively
 * tested.  Others have been tested to a (usually) lesser degree, and
 * therefore might still have latent bugs.  If you change any of them
 * from the default, PLEASE check to make sure that you know the full
 * effects of what you are changing. And if you encounter any errors
 * or compile time problems with any options other than the default
 * settings, PLEASE file an issue at
 * https://github.com/pennmush/pennmush/issues immediately, so that
 * they can be fixed.  The same goes for any other bug you might find
 * in using this software.  All efforts will be made to fix errors
 * encountered, but unless given a FULL description of the error, (IE
 * telling me that logging in doesn't work is insufficient.  telling
 * me that logging in with WCREAT undefined still gives you the
 * registration message is a lot better.  MOST effective would be a
 * full gdb trace, or a patch for the bug.)  Enjoy using the program.
 */
/***************************************************************************/

/*---------------- Internals with many options ------------------------*/

/* How are attributes stored?
 * Your options are:
 * 0 - Use the standard malloc/free system, with each attribute
 *     allocated seperately. Fairly fast, takes the most memory.
 * 1 - Use Talek's chunk manager, which lets you put an upper limit on
 *     how much memory is used by attribute contents, with excess
 *     getting paged out to disk. Tradeoff is higher CPU usage. Useful
 *     for hosting environments with memory restrictions.
 * More options might be coming, or this might end up being moved into
 * configure.
 */
#define ATTR_STORAGE 1

/*------------------------- MUSH Features ----------------------*/

/* Many MUSHes want to change the +channels to =channels. That's
 * annoying. So we've got this CHAT_TOKEN_ALIAS, which allows + as well
 * as = (or whatever) channels. If you want this, define it to be
 * the character you want to use in addition to +, enclosed in
 * single quotes, as in '=' or '.' or whatever. Don't define it to '+'!
 */
/* #define CHAT_TOKEN_ALIAS '=' /* */


/*------------------------- Cosmetic Features --------------------*/

/* If you're using the email registration feature, but want to 
 * use a mailer other than sendmail, put the full path to the mailer
 * program here. The mailer must accept the -t command-line
 * argument ("get the recipient address from the message header To:").
 * If it doesn't, you could probably write a wrapper for it.
 * Example: #define MAILER "/full/path/to/other/mailer"
 */
/* #define MAILER "" /* */

#endif
