*.o
*~
Makefile
config.h
config.log
config.status
game/alias.cnf
game/data
game/info_slave
game/log
game/mush.cnf
game/names.cnf
game/netmush
game/restrict.cnf
game/ssl_slave
game/txt/compose.sh
game/txt/events.txt
game/txt/help.txt
game/txt/news.txt
hdrs/buildinf.h
hdrs/cmds.h
hdrs/funs.h
options.h
src/Makefile
src/cmdlocal.c
src/flaglocal.c
src/funlocal.c
src/info_slave
src/local.c
src/netmud
src/netmud~
test/alltests.sh
